.container {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
  overflow-y: auto;
}

.burgersList {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}
